@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Util */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.card {
    width: 100%;
    height: calc(100vh - 89px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;

}

.container .card .title {
    font-size: 1.4rem;
    margin-bottom: 32px;
}

.hide {
    display: none;
}

/* Nav Bar*/
.container .home-nav-bar nav {
    padding: 16px 54px 16px 32px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .home-nav-bar nav .title {
    font-size: 1.3rem;
    font-weight: 400;
}

.container .home-nav-bar nav .nav-items ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.container .home-nav-bar nav .nav-items ul li,
.container .home-nav-bar nav .nav-items ul li a {
    list-style: none;
    text-decoration: none;
    color: #222;
}

.container .home-nav-bar nav .nav-items ul li {
    padding: 8px;
    margin: 8px;
    border-bottom: 1px solid rgb(207, 207, 207);
}

.container .home-nav-bar nav .nav-items ul li:hover {
    border-bottom: 1px solid black;
}

.container .home-nav-bar nav .nav-items ul li.current {
    border-bottom: 1px solid black;
}

.container .home-section {
    justify-content: space-between;
    padding: 150px;
}

.container .home-section .home-content {
    max-width: 420px;
}

.container .home-section .home-content .title {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 24px;
}

.container .home-section .home-content .description {
    font-size: 14px;
    color: gray;
}

.container .home-section .home-content .btn-cta {
    padding: 12px 24px;
    border: 1px solid gray;
    width: fit-content;
    border-radius: 8px;
    margin-top: 32px;
    cursor: pointer;
}

.container .home-section .home-content .btn-cta a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #222;
}

.container .home-section .home-content .btn-cta:hover {
    background: rgb(245, 242, 242);
}

/* Login */
.card.login-section {
    flex-direction: column;
}

.login-section .form-container .form-div {
    margin: 16px 0px 24px;
    min-width: 320px;
    width: 100%;
}

.login-section .form-container .form-div label {
    font-size: 0.9rem;
    display: block;
    color: gray;
}

.login-section .form-container .form-div input {
    width: 100%;
    padding: 8px 16px;
}

.login-section .form-container .form-div input[type="submit"] {
    background: #222;
    color: #fff;
    cursor: pointer;
    padding: 12px 16px;
    font-size: 0.9rem;
}

/* Todos Lists */
.container .todos-section {
    flex-direction: column;
}

.container .todos-container {
    max-width: 560px;
    width: 100%;
    padding: 16px;
}

.container .todos-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 560px;
    padding: 0px 16px;
}

.container .todos-header .title {
    margin: 0;
}

.container .todos-header .create-todos-btn {
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}

.container .todos-header .create-todos-btn a ,
.container .todos-header .create-todos-btn Link {
    text-decoration: none;
    font-size: 0.9rem;
    color: #222;
}

.container .todos-header .create-todos-btn:hover {
    background: rgb(245, 242, 242);
}

.container .todos-container .todo-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    border: 1px solid black;
    margin: 0px 0px 24px;
    text-align: center;
    border-radius: 8px;
}

.todos-container .todo-card .todo-details {
    flex: 0.33;
    text-align: left;
}

.todos-container .todo-card .todo-details .todo-created {
    font-size: 0.8rem;
    color: gray;
}

.todos-container .todo-card .todo-status {
    flex: 0.33;
    text-align: center;
}

.todos-container .todo-card .status {
    width: fit-content;
    margin: auto;
    padding: 4px 8px;
    font-size: 0.9rem;
    border-radius: 4px;
    color: #fff;
}

.todos-container .todo-card .status.completed {
    background: rgb(93, 162, 93);
}

.todos-container .todo-card .status.in-progress {
    background: rgb(219, 121, 121);
}

.todos-container .todo-card .todo-actions {
    flex: 0.33;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.todos-container .todo-card .todo-actions .action {
    padding: 0px 4px;
    cursor: pointer;
}

.todos-container .todo-card .todo-actions .action.view {
    color: gray;
}

.todos-container .todo-card .todo-actions .action.edit {
    color: rgb(121, 121, 217);
}

.todos-container .todo-card .todo-actions .action.delete {
    color: rgb(212, 131, 131);
}

.todos-container .no-todos {
    text-align: center;
    margin-top: 48px;
    font-size: 1.1rem !important;
}

/* Todo PAGE */
.todo-section {
    flex-direction: column;
}

.todo-section .todo-content .todo-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

/* Timer */
.todo-section .todo-timer .count {
    font-size: 4rem;
}

.todo-section .todo-timer .timer-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 48px;
}

.todo-section .todo-timer .timer-actions .pause {
    color: rgb(53, 218, 199);
    cursor: pointer;
}

.todo-section .todo-timer .timer-actions .stop {
    color: rgb(237, 149, 42);
    cursor: pointer;
}

.todo-section .todo-content .todo-details i {
    color: rgb(215, 81, 81);
}

.todo-section .form-container .form-div {
    margin: 16px 0px 24px;
    min-width: 320px;
    width: 100%;
}

.todo-section .form-container .form-div label {
    font-size: 0.9rem;
    display: block;
    color: gray;
}

.todo-section .form-container .form-div input {
    width: 100%;
    padding: 8px 16px;
}

.todo-section .form-container .form-div input[type="submit"] {
    background: #222;
    color: #fff;
    cursor: pointer;
    padding: 12px 16px;
    font-size: 0.9rem;
    cursor: pointer;
}

.todo-section .form-container .form-div input[type="submit"].complete {
    background: rgb(85, 166, 85);
    display: block;
    border: none;
}

.todo-section .todo-start {
    padding: 8px 12px;
    border: 1px solid black;
    margin-bottom: 48px;
    cursor: pointer;
}

.todo-section .todo-start:hover {
    background: #222;
    color: #fff;
    transform: scale(1.1);
}

@media (max-width: 728px) {

img {
    width: 100%;
    height: 100%;
}

/* Nav Bar*/
.container .home-nav-bar nav {
    padding: 16px 32px 16px 32px;
}

/* Hero section */
.container .home-section {
    width: 100%;
    height: 100%;
    padding: 0px 24px;
    margin-bottom: 54px;
    justify-content: center;
    flex-direction: column;
}

}